body{
    background-color: #C9F2C7;
    margin: 3%;
    padding: 0;
}

header{
    background-color: #243119;
    border-radius: 20px;
    color: white;
    text-align: right;
    margin-right: 5%;
    margin-left:5%;
    width: 90%;
}

header img{
    display: inline;
    float: left;
    margin: 6%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

header h1{
    display: inline-block;
    margin-right: 10%;
    margin-top: 10%;
}

header h2{
    display: inline-block;
    margin-right:10%;
    margin-bottom: 10%;
}
.navbar{
    margin:3% 0% 3% 0%;
    display: flex;
    width: 100%;
    background-color: #243119;
    flex-flow: column wrap;
    border-radius: 20px;

}

.navbar .nav-item{
    width: 100%;
}

.navbar .nav-item:hover{ 
    transform: scale(1.2);
}

.navbar .nav-link{
    color: white;
    width: 100%;
    font-size: large;
}

h3{
    text-align: center;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 5%;
}

#sobremi{
    background-color: #F9FEF8;
    border-radius: 20px;
    width: 100%;
    text-align: justify;
}
#sobremi p{
    display: inline-block;
    font-size:x-large;
    margin: 6%;
}

#p1{
    text-align: right;
    display: inline-block;
    font-size: x-large;
}

#sobremi img{
    display: inline;
    position: relative;
    float: left;
    margin: 5%;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
}

#experiencia{
    display: inline-block;
    background-color: #F9FEF8;
    border-radius: 20px;
    width: 100%;
}

#experiencia img{
    display: inline;
    position: relative;
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 4% 0% 4% 10%;
}

#experiencia div{
    margin: 8%;
    display: inline;
    float: right;
}

#educación{
    display: flex;
    flex-flow: row wrap;
    background-color: #F9FEF8;
    border-radius: 20px;
    width: 100%;
    text-align: justify;
}

#educación img{
    display: inline;
    position: relative;
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 5%;
    float: left;
}

#educación div{
    margin: 11%;
    display: block;
    position: relative;
    float: left;
    
}

#habilidades{
    background-color: #F9FEF8;
    border-radius: 20px;
    width: 100%;
    text-align: justify;
}

#habilidades h4{
    text-align: center;
}

#habilidades div{
    display: flex;
    justify-content: space-around;
    margin: 4%;
}

#habilidades img{
    width: 40px;
    height: 40px;
}

button{
    width: 100%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer{
    background-color: black;
    width: 100%;
    height: 4%;
    color: white;
    float: right;
    text-align: center;
    margin-top: 5%;
}